body {
    background-color: #000;
}

button {
    border : 1px solid #000000;
    border-radius: 10px;
    background-color: #ced4da;
}

button a {
    text-decoration: none;
    color : #000000;
}

img {
    width : 25%;
}
tr th {
    color : #000;
}
table,
td, th {
  border: 1px solid #333;
}

th, td {
    text-align: center;
}

.off {
    display : none;
}

table {
    width: 75%;
}

.off {
    display : none;
}

#titreTd:hover, #voir:hover, #sujet:hover , .sujet:hover{
    cursor: pointer;
    color : #000;
    background-color: #ced4da;
}

@media only screen and (max-width: 768px) {
    .mx-5 {
        margin-left: 0px!important;
        margin-right: 0px!important;
    }
    #ajoutTopic {
        flex : 0 0 auto;
        width: 83.333333%;
    }
    .menu {
        display: none;
    }
    .menuBurger, .on {
        display: block;
    }
    
    
}

a {
    text-decoration: none;
}
#cyprian {
    color : #FFF;
}